node-red-flows/ESP8266_MQQT_Weerstation_flow.json
[{
        "id": "5a52a983.5025e8",
        "type": "tab",
        "label": "deepsleep_hallo_wereld_20190123"
    },
    {
        "id": "a81c1cbe.ba134",
        "type": "tab",
        "label": "wemos_sn76489_mqqt_20181227"
    },
    {
        "id": "417eb1f6.8256b",
        "type": "tab",
        "label": "urbanlink.nl"
    },
    {
        "id": "904aa569.f42e48",
        "type": "ui_group",
        "z": "",
        "name": "Main Lamp",
        "tab": "2dc3649.7ab109c",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "68b9bc04.cb10d4",
        "type": "ui_group",
        "z": "",
        "name": "Bench Light",
        "tab": "2dc3649.7ab109c",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "2dc3649.7ab109c",
        "type": "ui_tab",
        "z": "",
        "name": "LAB",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "b74ac5c5.56ded8",
        "type": "ui_group",
        "z": "",
        "name": "MiFlora",
        "tab": "53483d99.fbda24",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "3c072315.335ebc",
        "type": "ui_group",
        "z": "",
        "name": "Report",
        "tab": "6facd1c.1baba3",
        "order": 2,
        "disp": true,
        "width": "18"
    },
    {
        "id": "c478907e.d3049",
        "type": "ui_group",
        "z": "",
        "name": "Selection",
        "tab": "6facd1c.1baba3",
        "order": 1,
        "disp": true,
        "width": "5"
    },
    {
        "id": "53483d99.fbda24",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "home",
        "order": "1"
    },
    {
        "id": "6facd1c.1baba3",
        "type": "ui_tab",
        "z": "",
        "name": "Reports",
        "icon": "dashboard",
        "order": 9
    },
    {
        "id": "7eb5b27a.fe733c",
        "type": "ui_group",
        "z": "",
        "name": "MiFlora",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "a9164fa0.137b5",
        "type": "ui_group",
        "z": "",
        "name": "Report",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "18"
    },
    {
        "id": "6aa99c76.f6add4",
        "type": "ui_group",
        "z": "",
        "name": "Selection",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "5"
    },
    {
        "id": "101d968b.b667e9",
        "type": "sqlitedb",
        "z": "",
        "db": "/home/pi/dbs/iot.sav"
    },
    {
        "id": "21aa85af.463e7a",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "Helvetica Neue",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "Helvetica Neue",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "Helvetica Neue"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a605c726.e2b368",
        "type": "mqtt-broker",
        "z": "",
        "broker": "192.168.1.92",
        "port": "1883",
        "clientid": "ict-beheer",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "4a483c89.03dcd4",
        "type": "ui_group",
        "z": "",
        "name": "Weerstation",
        "tab": "5b1e81cd.80a68",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "a6a3041b.8ef2e8",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "admin@localhost",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": ""
    },
    {
        "id": "5b1e81cd.80a68",
        "type": "ui_tab",
        "z": "",
        "name": "Het weer",
        "icon": "dashboard",
        "order": 6
    },
    {
        "id": "99bfbe80.aeff8",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "michiele-mosquitto",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "5ef39449.6c516c",
        "type": "ui_group",
        "z": "",
        "name": "Weerstation",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "8c33d897.72eff8",
        "type": "sqlitedb",
        "z": "",
        "db": "/home/pi/dbs/iot.db"
    },
    {
        "id": "7c7439c6.05ece8",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "michiele-mosquitto",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "85448d3c.58094",
        "type": "ui_group",
        "z": "",
        "name": "Weerstation",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "7003ac79.485954",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "michiele-mosquitto",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "2471f790.e8cf58",
        "type": "ui_group",
        "z": "",
        "name": "Weerstation",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "c41f7721.15ee78",
        "type": "sqlitedb",
        "z": "",
        "db": "/home/pi/dbs/iot.db"
    },
    {
        "id": "bfdc1076.7f287",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "michiele-mosquitto",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "d6243f69.60fe9",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "michiele-mosquitto",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "6447b091.9bfcd",
        "type": "ui_group",
        "z": "",
        "name": "Weerstation",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "5ef027d9.c8f1e8",
        "type": "sqlitedb",
        "z": "",
        "db": "/home/pi/dbs/iot.db"
    },
    {
        "id": "9fa5ebe3.e92b68",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "michiele-mosquitto",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "5d780da7.d9fc94",
        "type": "ui_group",
        "z": "",
        "name": "Weerstation",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "5d8f5b3f.4828a4",
        "type": "sqlitedb",
        "z": "",
        "db": "/home/pi/dbs/iot.db"
    },
    {
        "id": "f4945e41.20a07",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "michiele-mosquitto",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "df83465e.4f4778",
        "type": "ui_group",
        "z": "",
        "name": "Weerstation",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "728d72b3.c270ac",
        "type": "sqlitedb",
        "z": "",
        "db": "/home/pi/dbs/iot.db"
    },
    {
        "id": "33da3236.75729e",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "michiele-mosquitto",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "47c154a4.a13efc",
        "type": "ui_group",
        "z": "",
        "name": "Weerstation",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "197bb2db.a860ed",
        "type": "sqlitedb",
        "z": "",
        "db": "/home/pi/dbs/iot.db"
    },
    {
        "id": "de555d9c.0dcda",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "michiele-mosquitto",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "3c05b909.8b7296",
        "type": "ui_group",
        "z": "",
        "name": "Weerstation",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "f33d6222.e8b1c",
        "type": "sqlitedb",
        "z": "",
        "db": "/home/pi/dbs/iot.db"
    },
    {
        "id": "445ae1eb.267eb",
        "type": "ui_group",
        "z": "",
        "name": "One dimension Array",
        "tab": "72d639a7.f71688",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "72d639a7.f71688",
        "type": "ui_tab",
        "z": "",
        "name": "Table Examples",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "3c4959d9.74d7c6",
        "type": "ui_group",
        "z": "",
        "name": "Group 2",
        "tab": "eae086f0.17bee8",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "630cdcd3.4ade44",
        "type": "ui_tab",
        "z": "",
        "name": "HetWeerSQL",
        "icon": "dashboard",
        "order": 6
    },
    {
        "id": "9062393a.fc7528",
        "type": "ui_group",
        "z": "",
        "name": "Histories",
        "tab": "630cdcd3.4ade44",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "299035ac.954eca",
        "type": "mqtt-broker",
        "z": "",
        "broker": "oif-mqtt.urbanlink.nl",
        "port": "8020",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "88277a33.f22a58",
        "type": "mqtt in",
        "z": "5a52a983.5025e8",
        "name": "",
        "topic": "deepsleep_hallo_wereld_20190123/hallo",
        "qos": "2",
        "broker": "a6a3041b.8ef2e8",
        "x": 247.16668701171875,
        "y": 77.3333511352539,
        "wires": [
            [
                "66d547a1.fb2298"
            ]
        ]
    },
    {
        "id": "66d547a1.fb2298",
        "type": "debug",
        "z": "5a52a983.5025e8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 661.1666831970215,
        "y": 96.66667366027832,
        "wires": []
    },
    {
        "id": "90817a94.6fc3e8",
        "type": "mqtt in",
        "z": "5a52a983.5025e8",
        "name": "Wemos is wakker",
        "topic": "deepsleep_hallo_wereld_20190123/reboot/setup",
        "qos": "0",
        "broker": "a6a3041b.8ef2e8",
        "x": 124,
        "y": 407.0000009536743,
        "wires": [
            [
                "94d05079.7dcf8"
            ]
        ]
    },
    {
        "id": "94d05079.7dcf8",
        "type": "function",
        "z": "5a52a983.5025e8",
        "name": "setdeepSleepInterval 30minuten",
        "func": "var deepSleepInterval = 30*60;\n\nif(msg.topic == \"deepsleep_hallo_wereld_20190123/reboot/setup\")\n{\n    if(parseInt(msg.payload) == 1)\n    {\n        msg.payload = parseInt(deepSleepInterval);\n    }\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 519.0000152587891,
        "y": 358.6666965484619,
        "wires": [
            [
                "ca04f79c.e1b9f8",
                "9ec4a980.817dc8"
            ]
        ]
    },
    {
        "id": "ca04f79c.e1b9f8",
        "type": "mqtt out",
        "z": "5a52a983.5025e8",
        "name": "",
        "topic": "deepsleep_hallo_wereld_20190123/deepSleepIntervalSekonden/waarde",
        "qos": "2",
        "retain": "",
        "broker": "a6a3041b.8ef2e8",
        "x": 989,
        "y": 316.3333330154419,
        "wires": []
    },
    {
        "id": "9ec4a980.817dc8",
        "type": "debug",
        "z": "5a52a983.5025e8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 820,
        "y": 432.3333578109741,
        "wires": []
    },
    {
        "id": "a1ffc9ea.dd7b98",
        "type": "inject",
        "z": "5a52a983.5025e8",
        "name": "inject deepSleepIntervalSekonden",
        "topic": "deepsleep_hallo_wereld_20190123/reboot/setup",
        "payload": "30",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 198.00001525878906,
        "y": 214,
        "wires": [
            [
                "ca04f79c.e1b9f8"
            ]
        ]
    },
    {
        "id": "fba66d89.3e7e3",
        "type": "mqtt in",
        "z": "5a52a983.5025e8",
        "name": "halloWereld",
        "topic": "halloWereld",
        "qos": "2",
        "broker": "a6a3041b.8ef2e8",
        "x": 205,
        "y": 537.0000486373901,
        "wires": [
            [
                "e49cf77d.a65f18"
            ]
        ]
    },
    {
        "id": "e49cf77d.a65f18",
        "type": "debug",
        "z": "5a52a983.5025e8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 523,
        "y": 549.3333616256714,
        "wires": []
    },
    {
        "id": "f606f3d2.82c61",
        "type": "inject",
        "z": "5a52a983.5025e8",
        "name": "",
        "topic": "weatherstation/bmp1/debug",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 251.99998474121094,
        "y": 668.0000655651093,
        "wires": [
            [
                "6988fcf6.bc5954"
            ]
        ]
    },
    {
        "id": "6988fcf6.bc5954",
        "type": "mqtt out",
        "z": "5a52a983.5025e8",
        "name": "",
        "topic": "weatherstation/bmp1/debug",
        "qos": "2",
        "retain": "",
        "broker": "a6a3041b.8ef2e8",
        "x": 694.9999961853027,
        "y": 647.3333578109741,
        "wires": []
    },
    {
        "id": "da74b68c.1b7828",
        "type": "inject",
        "z": "5a52a983.5025e8",
        "name": "wakker worden!",
        "topic": "deepsleep_hallo_wereld_20190123/reboot/setup",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 137.1666717529297,
        "y": 282.333345413208,
        "wires": [
            [
                "94d05079.7dcf8"
            ]
        ]
    },
    {
        "id": "ec0decf1.30b0c",
        "type": "mqtt in",
        "z": "a81c1cbe.ba134",
        "name": "",
        "topic": "weatherStation/DHT/humidity",
        "qos": "2",
        "broker": "a6a3041b.8ef2e8",
        "x": 178,
        "y": 98.33334350585938,
        "wires": [
            [
                "af6e9840.1b9638"
            ]
        ]
    },
    {
        "id": "5c86aef2.7db23",
        "type": "debug",
        "z": "a81c1cbe.ba134",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 692.9999923706055,
        "y": 137.66668319702148,
        "wires": []
    },
    {
        "id": "af6e9840.1b9638",
        "type": "function",
        "z": "a81c1cbe.ba134",
        "name": "percentSimbool",
        "func": "if(msg.topic == \"weatherStation/DHT/humidity\") {\n    msg.payload += \"%\";\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 446.00000762939453,
        "y": 100.00000667572021,
        "wires": [
            [
                "5c86aef2.7db23",
                "c8014678.0a1178"
            ]
        ]
    },
    {
        "id": "c8014678.0a1178",
        "type": "ui_text",
        "z": "a81c1cbe.ba134",
        "group": "4a483c89.03dcd4",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Luchtvochtigheid",
        "label": "Luchtvochtigheid: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 704.9999923706055,
        "y": 67,
        "wires": []
    },
    {
        "id": "dede3d73.84c33",
        "type": "mqtt in",
        "z": "a81c1cbe.ba134",
        "name": "dht/temperature",
        "topic": "weatherStation/DHT/temperature",
        "qos": "2",
        "broker": "a6a3041b.8ef2e8",
        "x": 116.00001525878906,
        "y": 296.33334255218506,
        "wires": [
            [
                "5fba0da.a580ff4",
                "942db906.5164f8"
            ]
        ]
    },
    {
        "id": "942db906.5164f8",
        "type": "function",
        "z": "a81c1cbe.ba134",
        "name": "gradenSimbool",
        "func": "if(msg.topic == \"weatherStation/DHT/temperature\") {\n    msg.payload += \"°C\";\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 376.8334426879883,
        "y": 335.0000467300415,
        "wires": [
            [
                "f7d1c57a.4cf6d8"
            ]
        ]
    },
    {
        "id": "f7d1c57a.4cf6d8",
        "type": "ui_text",
        "z": "a81c1cbe.ba134",
        "group": "4a483c89.03dcd4",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "temperatuur",
        "label": "Temp. laatste sensor meting:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 641.8333969116211,
        "y": 324.0000104904175,
        "wires": []
    },
    {
        "id": "89901d3e.76397",
        "type": "sqlite",
        "z": "a81c1cbe.ba134",
        "mydb": "5d8f5b3f.4828a4",
        "name": "iot.db",
        "x": 639.8333930969238,
        "y": 247.0000877380371,
        "wires": [
            [
                "fba971d3.9b42c"
            ]
        ]
    },
    {
        "id": "847da4ac.418778",
        "type": "mqtt in",
        "z": "a81c1cbe.ba134",
        "name": "weatherStation/DHT/luchtdruk",
        "topic": "weatherStation/DHT/luchtdruk",
        "qos": "2",
        "broker": "a6a3041b.8ef2e8",
        "x": 179,
        "y": 439.00005531311035,
        "wires": [
            [
                "fa973721.6c7ae8"
            ]
        ]
    },
    {
        "id": "fa973721.6c7ae8",
        "type": "function",
        "z": "a81c1cbe.ba134",
        "name": "hpa simbool",
        "func": "if(msg.topic == \"weatherStation/DHT/luchtdruk\") {\n    msg.payload = parseInt(msg.payload) / 100 + \"hPa\";\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 418.8333435058594,
        "y": 435.66668128967285,
        "wires": [
            [
                "86dff1f0.e3da7"
            ]
        ]
    },
    {
        "id": "86dff1f0.e3da7",
        "type": "ui_text",
        "z": "a81c1cbe.ba134",
        "group": "4a483c89.03dcd4",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Lugdruk",
        "label": "Luchtdruk: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 630.8333892822266,
        "y": 439.6666793823242,
        "wires": []
    },
    {
        "id": "2a3adcea.c96914",
        "type": "sqlite",
        "z": "a81c1cbe.ba134",
        "mydb": "8c33d897.72eff8",
        "name": "",
        "x": 439,
        "y": 583.0002288818359,
        "wires": [
            [
                "37b9a0c5.a7365"
            ]
        ]
    },
    {
        "id": "bde2c40e.0ce168",
        "type": "debug",
        "z": "a81c1cbe.ba134",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 858.0001792907715,
        "y": 576.0002288818359,
        "wires": []
    },
    {
        "id": "582db1a0.9397c",
        "type": "inject",
        "z": "a81c1cbe.ba134",
        "name": "lijst temperature_record  ",
        "topic": "SELECT  strftime('%Y-%m-%d', \"date_time\") datum, round(avg(\"temperature\" ), 1) gem_tempC, round(min(\"temperature\" ), 1) minC, round(max(\"temperature\" ), 1) maxC, round(count(\"temperature\" ), 1) aantalMetingen  FROM temperature_record  WHERE \"date_time\" >= \"2018-12-01 10:00:00\"  and  \"2018-12-31 13:00:00\"  GROUP BY strftime('%Y-%m-%d', \"date_time\")  Order BY strftime('%Y-%m-%d', \"date_time\") desc  limit 0, 30",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 162.99999237060547,
        "y": 535.6668910980225,
        "wires": [
            [
                "2a3adcea.c96914"
            ]
        ]
    },
    {
        "id": "fa81a64e.84fe18",
        "type": "inject",
        "z": "a81c1cbe.ba134",
        "name": "laatste tempC",
        "topic": "SELECT  strftime('%Y-%m-%d', \"date_time\") datum, round(avg(\"temperature\" ), 1) gem_tempC, round(min(\"temperature\" ), 1) minC, round(max(\"temperature\" ), 1) maxC, round(count(\"temperature\" ), 1) aantalMetingen  FROM temperature_record  WHERE \"date_time\" >= \"2018-12-01 10:00:00\"  and  \"2018-12-31 13:00:00\"  GROUP BY strftime('%Y-%m-%d', \"date_time\")  Order BY strftime('%Y-%m-%d', \"date_time\") desc  limit 0, 1",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 140.0000114440918,
        "y": 645.0002632141113,
        "wires": [
            [
                "2a3adcea.c96914"
            ]
        ]
    },
    {
        "id": "fba971d3.9b42c",
        "type": "debug",
        "z": "a81c1cbe.ba134",
        "name": "temp debug",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 822.1666946411133,
        "y": 249.6666774749756,
        "wires": []
    },
    {
        "id": "5fba0da.a580ff4",
        "type": "function",
        "z": "a81c1cbe.ba134",
        "name": "sql insert temperature_record",
        "func": "var overrideMain = global.get('overrideMain');\nvar overrideTable = global.get('overrideTable');\n\n\n// Update the status with current timestamp\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\nvar timeFormat= dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss;\nnode.status({fill:\"blue\",shape:\"ring\",text:\"Last update: \"+timeFormat});    \n\n//var top=msg.topic.toString();\nvar device_name=\"wemos D1\";\nvar pay=msg.payload;\nvar rec_num=Math.floor((Math.random() * 10000000) + 1) ;\n\nif(msg.topic.includes(\"temperature\"))\n{\n    msg.topic = \"INSERT INTO temperature_record (device_name,rec_num,temperature) VALUES (?,?,?)\";\n    msg.payload = [device_name,rec_num,pay];\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 394.83343505859375,
        "y": 258.000009059906,
        "wires": [
            [
                "89901d3e.76397"
            ]
        ]
    },
    {
        "id": "37b9a0c5.a7365",
        "type": "ui_template",
        "z": "a81c1cbe.ba134",
        "group": "9062393a.fc7528",
        "name": "toon Tabel",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<table style=\"width:320% height=250%\">\n  <tr>\n    <th colspan=\"5\">Meest recente meetdata</th> \n  </tr>\n  <tr>\n    <th>datum</th> \n    <th>gem_tempC</th>\n    <th>minC</th> \n    <th>maxC</th>\n    <th>aantalMetingen</th>\n  </tr>\n  <tr ng-repeat=\"row in msg.payload | limitTo:30\">\n    <td>{{msg.payload[$index].datum}}</td>\n    <td>{{msg.payload[$index].gem_tempC}}</td> \n    <td>{{msg.payload[$index].minC}}</td>\n    <td>{{msg.payload[$index].maxC}}</td>\n    <td>{{msg.payload[$index].aantalMetingen}}</td>\n  </tr>\n</table>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "x": 659.1666793823242,
        "y": 587.0002269744873,
        "wires": [
            [
                "bde2c40e.0ce168"
            ]
        ]
    },
    {
        "id": "3a44c244.120ece",
        "type": "ui_button",
        "z": "a81c1cbe.ba134",
        "name": "",
        "group": "9062393a.fc7528",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Laatset 30 metingen",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "SELECT  strftime('%Y-%m-%d', \"date_time\") datum, round(avg(\"temperature\" ), 1) gem_tempC, round(min(\"temperature\" ), 1) minC, round(max(\"temperature\" ), 1) maxC, round(count(\"temperature\" ), 1) aantalMetingen  FROM temperature_record  WHERE \"date_time\" >= \"2018-12-01 10:00:00\"  and  \"2018-12-31 13:00:00\"  GROUP BY strftime('%Y-%m-%d', \"date_time\")  Order BY strftime('%Y-%m-%d', \"date_time\") desc  limit 0, 30",
        "x": 149.16668701171875,
        "y": 574.6666812896729,
        "wires": [
            [
                "2a3adcea.c96914"
            ]
        ]
    },
    {
        "id": "f34ad7d9.585b58",
        "type": "ui_button",
        "z": "a81c1cbe.ba134",
        "name": "",
        "group": "9062393a.fc7528",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Laatste temp",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "SELECT  strftime('%Y-%m-%d', \"date_time\") datum, round(avg(\"temperature\" ), 1) gem_tempC, round(min(\"temperature\" ), 1) minC, round(max(\"temperature\" ), 1) maxC, round(count(\"temperature\" ), 1) aantalMetingen  FROM temperature_record  WHERE \"date_time\" >= \"2018-12-01 10:00:00\"  and  \"2018-12-31 13:00:00\"  GROUP BY strftime('%Y-%m-%d', \"date_time\")  Order BY strftime('%Y-%m-%d', \"date_time\") desc  limit 0, 1",
        "x": 129.1666717529297,
        "y": 692.6666870117188,
        "wires": [
            [
                "2a3adcea.c96914"
            ]
        ]
    },
    {
        "id": "18468321.e8685d",
        "type": "mqtt out",
        "z": "417eb1f6.8256b",
        "name": "urbanlink.nl",
        "topic": "Topic 1",
        "qos": "",
        "retain": "",
        "broker": "299035ac.954eca",
        "x": 1028.166690826416,
        "y": 26.666704177856445,
        "wires": []
    },
    {
        "id": "5edef6c4.9b7c18",
        "type": "inject",
        "z": "417eb1f6.8256b",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 630.166690826416,
        "y": 30.333349227905273,
        "wires": [
            [
                "43f89472.9f9d2c"
            ]
        ]
    },
    {
        "id": "43f89472.9f9d2c",
        "type": "function",
        "z": "417eb1f6.8256b",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 814.166690826416,
        "y": 58,
        "wires": [
            [
                "18468321.e8685d"
            ]
        ]
    },
    {
        "id": "4734acfc.3131e4",
        "type": "mqtt in",
        "z": "417eb1f6.8256b",
        "name": "",
        "topic": "Topic 1",
        "qos": "2",
        "broker": "299035ac.954eca",
        "x": 625.1667022705078,
        "y": 139.33334064483643,
        "wires": [
            [
                "730a8013.1c09d"
            ]
        ]
    },
    {
        "id": "730a8013.1c09d",
        "type": "debug",
        "z": "417eb1f6.8256b",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 911.1666984558105,
        "y": 189.66668701171875,
        "wires": []
    }
]