node-red-flows/weerstation.json
[{"id":"ea1ee078.d94e7","type":"debug","z":"20f67d46.5aecc2","name":"","active":true,"console":"false","complete":"payload","x":635.9999961853027,"y":81.33332252502441,"wires":[]},{"id":"f6894096.1ead4","type":"mqtt in","z":"20f67d46.5aecc2","name":"","topic":"weestation/hallo","qos":"2","broker":"a605c726.e2b368","x":142,"y":62,"wires":[["ea1ee078.d94e7"]]},{"id":"5140b89c.5ceb48","type":"mqtt in","z":"20f67d46.5aecc2","name":"Wemos reboot setup","topic":"weatherStation/reboot/setup","qos":"0","broker":"a605c726.e2b368","x":108.83331298828125,"y":391.6666498184204,"wires":[["cfc564e9.66fdf8"]]},{"id":"cfc564e9.66fdf8","type":"function","z":"20f67d46.5aecc2","name":"setdeepSleepInterval 30minuten","func":"var deepSleepInterval = 30*60;\n\nif(msg.topic == \"weatherStation/reboot/setup\")\n{\n    if(parseInt(msg.payload) == 1)\n    {\n        msg.payload = parseInt(deepSleepInterval);\n    }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":493.8333282470703,"y":343.333345413208,"wires":[["ff50c8c3.ab66b8","59aac0d3.253e5"]]},{"id":"ff50c8c3.ab66b8","type":"mqtt out","z":"20f67d46.5aecc2","name":"","topic":"weatherStation/deepSleepIntervalSekonden/waarde","qos":"2","retain":"","broker":"a605c726.e2b368","x":893.8333129882812,"y":300.999981880188,"wires":[]},{"id":"59aac0d3.253e5","type":"debug","z":"20f67d46.5aecc2","name":"","active":true,"console":"false","complete":"payload","x":794.8333129882812,"y":417.0000066757202,"wires":[]},{"id":"e20d728a.0c467","type":"inject","z":"20f67d46.5aecc2","name":"inject deepSleepIntervalSekonden","topic":"weatherStation/ONTWAAK","payload":"30","payloadType":"str","repeat":"","crontab":"","once":false,"x":172.8333282470703,"y":198.6666488647461,"wires":[["ff50c8c3.ab66b8"]]},{"id":"e88430a6.5f39f","type":"mqtt in","z":"20f67d46.5aecc2","name":"halloWereld","topic":"weatherStation/halloWereld","qos":"2","broker":"a605c726.e2b368","x":179.83331298828125,"y":521.6666975021362,"wires":[["fffee3ea.ef4a9"]]},{"id":"fffee3ea.ef4a9","type":"debug","z":"20f67d46.5aecc2","name":"","active":true,"console":"false","complete":"payload","x":497.83331298828125,"y":534.0000104904175,"wires":[]},{"id":"5f1f4c91.6c0964","type":"inject","z":"20f67d46.5aecc2","name":"","topic":"weatherStation/bmp1/debug","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":197.8332977294922,"y":660.6666870117188,"wires":[["367ee12e.07bd7e"]]},{"id":"367ee12e.07bd7e","type":"mqtt out","z":"20f67d46.5aecc2","name":"","topic":"weatherstation/bmp1/debug","qos":"2","retain":"","broker":"a605c726.e2b368","x":669.833309173584,"y":632.0000066757202,"wires":[]},{"id":"d84dcf62.805ef","type":"inject","z":"20f67d46.5aecc2","name":"wakker worden!","topic":"weatherStation/ONTWAAK","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":111.99998474121094,"y":266.9999942779541,"wires":[["cfc564e9.66fdf8","5a80e3a4.89bc9c"]]},{"id":"c586e9c8.eb1428","type":"mqtt in","z":"20f67d46.5aecc2","name":"Wemos is wakker","topic":"weatherStation/ONTWAAKT","qos":"0","broker":"a605c726.e2b368","x":97.83331298828125,"y":457.6666793823242,"wires":[["cfc564e9.66fdf8"]]},{"id":"5dd21f39.50db5","type":"mqtt in","z":"20f67d46.5aecc2","name":"","topic":"weatherStation/DHT/humidity","qos":"2","broker":"a605c726.e2b368","x":173,"y":774,"wires":[["9ca277e1.36fd48"]]},{"id":"31199153.693d9e","type":"debug","z":"20f67d46.5aecc2","name":"","active":true,"console":"false","complete":"payload","x":687.9999923706055,"y":813.3333396911621,"wires":[]},{"id":"9ca277e1.36fd48","type":"function","z":"20f67d46.5aecc2","name":"percentSimbool","func":"if(msg.topic == \"weatherStation/DHT/humidity\") {\n    msg.payload += \"%\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":441.00000762939453,"y":775.6666631698608,"wires":[["31199153.693d9e","deac48e6.514508"]]},{"id":"deac48e6.514508","type":"ui_text","z":"20f67d46.5aecc2","group":"3c072315.335ebc","order":0,"width":0,"height":0,"name":"Luchtvochtigheid","label":"python Luchtvochtigheid: ","format":"{{msg.payload}}","layout":"row-spread","x":699.9999923706055,"y":742.6666564941406,"wires":[]},{"id":"bab9edf1.b52d9","type":"mqtt in","z":"20f67d46.5aecc2","name":"dht/temperature","topic":"weatherStation/DHT/temperature","qos":"2","broker":"a605c726.e2b368","x":111.00001525878906,"y":971.9999990463257,"wires":[["51151202.3dc16c","f2ffad2d.e1748"]]},{"id":"f2ffad2d.e1748","type":"function","z":"20f67d46.5aecc2","name":"gradenSimbool","func":"if(msg.topic == \"weatherStation/DHT/temperature\") {\n    msg.payload += \"°C\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":371.8334426879883,"y":1010.6667032241821,"wires":[["71202873.5b7938"]]},{"id":"71202873.5b7938","type":"ui_text","z":"20f67d46.5aecc2","group":"3c072315.335ebc","order":0,"width":0,"height":0,"name":"temperatuur","label":"python Temp. laatste sensor meting:","format":"{{msg.payload}}","layout":"row-spread","x":636.8333969116211,"y":999.6666669845581,"wires":[]},{"id":"9379dc21.b8b73","type":"mqtt in","z":"20f67d46.5aecc2","name":"weatherStation/DHT/luchtdruk","topic":"weatherStation/DHT/luchtdruk","qos":"2","broker":"a605c726.e2b368","x":174,"y":1114.666711807251,"wires":[["e00f3c04.cd637"]]},{"id":"e00f3c04.cd637","type":"function","z":"20f67d46.5aecc2","name":"hpa simbool","func":"if(msg.topic == \"weatherStation/DHT/luchtdruk\") {\n    msg.payload = parseInt(msg.payload) / 100 + \"hPa\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":413.8333435058594,"y":1111.3333377838135,"wires":[["58d73657.eb08a8"]]},{"id":"58d73657.eb08a8","type":"ui_text","z":"20f67d46.5aecc2","group":"3c072315.335ebc","order":0,"width":0,"height":0,"name":"Lugdruk","label":"python Luchtdruk: ","format":"{{msg.payload}}","layout":"row-spread","x":625.8333892822266,"y":1115.3333358764648,"wires":[]},{"id":"a024ac32.59cf8","type":"sqlite","z":"20f67d46.5aecc2","mydb":"101d968b.b667e9","name":"iot.db","x":394,"y":1258.6668853759766,"wires":[["aedc1e17.27116"]]},{"id":"3cad2b89.80ee44","type":"debug","z":"20f67d46.5aecc2","name":"","active":true,"console":"false","complete":"false","x":853.0001792907715,"y":1251.6668853759766,"wires":[]},{"id":"5fc66787.3f9678","type":"inject","z":"20f67d46.5aecc2","name":"lijst temperature_record  ","topic":"SELECT  strftime('%Y-%m-%d', \"date_time\") datum, round(avg(\"temperature\" ), 1) gem_tempC, round(min(\"temperature\" ), 1) minC, round(max(\"temperature\" ), 1) maxC, round(count(\"temperature\" ), 1) aantalMetingen  FROM temperature_record  WHERE \"date_time\" >= \"2018-12-01 10:00:00\"  and  \"2018-12-31 13:00:00\"  GROUP BY strftime('%Y-%m-%d', \"date_time\")  Order BY strftime('%Y-%m-%d', \"date_time\") desc  limit 0, 30","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":157.99999237060547,"y":1211.333547592163,"wires":[["a024ac32.59cf8"]]},{"id":"a571f98c.8f9648","type":"inject","z":"20f67d46.5aecc2","name":"laatste tempC","topic":"SELECT  strftime('%Y-%m-%d', \"date_time\") datum, round(avg(\"temperature\" ), 1) gem_tempC, round(min(\"temperature\" ), 1) minC, round(max(\"temperature\" ), 1) maxC, round(count(\"temperature\" ), 1) aantalMetingen  FROM temperature_record  WHERE \"date_time\" >= \"2018-12-01 10:00:00\"  and  \"2018-12-31 13:00:00\"  GROUP BY strftime('%Y-%m-%d', \"date_time\")  Order BY strftime('%Y-%m-%d', \"date_time\") desc  limit 0, 1","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":135.0000114440918,"y":1320.666919708252,"wires":[["a024ac32.59cf8"]]},{"id":"f4a3a81c.33f318","type":"debug","z":"20f67d46.5aecc2","name":"temp debug","active":true,"console":"false","complete":"payload","x":817.1666946411133,"y":925.3333339691162,"wires":[]},{"id":"51151202.3dc16c","type":"function","z":"20f67d46.5aecc2","name":"sql insert temperature_record","func":"var overrideMain = global.get('overrideMain');\nvar overrideTable = global.get('overrideTable');\n\n\n// Update the status with current timestamp\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\nvar timeFormat= dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss;\nnode.status({fill:\"blue\",shape:\"ring\",text:\"Last update: \"+timeFormat});    \n\n//var top=msg.topic.toString();\nvar device_name=\"wemos D1\";\nvar pay=msg.payload;\nvar rec_num=Math.floor((Math.random() * 10000000) + 1) ;\n\nif(msg.topic.includes(\"temperature\"))\n{\n    msg.topic = \"INSERT INTO temperature_record (device_name,rec_num,temperature) VALUES (?,?,?)\";\n    msg.payload = [device_name,rec_num,pay];\n    return msg;\n}\n","outputs":1,"noerr":0,"x":389.83343505859375,"y":933.6666655540466,"wires":[["da4d4f67.6ee1b"]]},{"id":"aedc1e17.27116","type":"ui_template","z":"20f67d46.5aecc2","group":"3c072315.335ebc","name":"toon Tabel","order":0,"width":0,"height":0,"format":"<table style=\"width:320% height=250%\">\n  <tr>\n    <th colspan=\"5\">Meest recente meetdata</th> \n  </tr>\n  <tr>\n    <th>datum</th> \n    <th>gem_tempC</th>\n    <th>minC</th> \n    <th>maxC</th>\n    <th>aantalMetingen</th>\n  </tr>\n  <tr ng-repeat=\"row in msg.payload | limitTo:30\">\n    <td>{{msg.payload[$index].datum}}</td>\n    <td>{{msg.payload[$index].gem_tempC}}</td> \n    <td>{{msg.payload[$index].minC}}</td>\n    <td>{{msg.payload[$index].maxC}}</td>\n    <td>{{msg.payload[$index].aantalMetingen}}</td>\n  </tr>\n</table>\n","storeOutMessages":true,"fwdInMessages":true,"x":654.1666793823242,"y":1262.666883468628,"wires":[["3cad2b89.80ee44"]]},{"id":"38d61b8f.05fa84","type":"ui_button","z":"20f67d46.5aecc2","name":"","group":"3c072315.335ebc","order":0,"width":0,"height":0,"label":"Laatse 30 metingen","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"SELECT  strftime('%Y-%m-%d', \"date_time\") datum, round(avg(\"temperature\" ), 1) gem_tempC, round(min(\"temperature\" ), 1) minC, round(max(\"temperature\" ), 1) maxC, round(count(\"temperature\" ), 1) aantalMetingen  FROM temperature_record  WHERE \"date_time\" >= \"2018-12-01 10:00:00\"  and  \"2018-12-31 13:00:00\"  GROUP BY strftime('%Y-%m-%d', \"date_time\")  Order BY strftime('%Y-%m-%d', \"date_time\") desc  limit 0, 30","x":134.16668701171875,"y":1250.3333377838135,"wires":[["a024ac32.59cf8"]]},{"id":"513ff78f.1a3238","type":"ui_button","z":"20f67d46.5aecc2","name":"","group":"3c072315.335ebc","order":0,"width":0,"height":0,"label":"Laatste temp","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"SELECT  strftime('%Y-%m-%d', \"date_time\") datum, round(avg(\"temperature\" ), 1) gem_tempC, round(min(\"temperature\" ), 1) minC, round(max(\"temperature\" ), 1) maxC, round(count(\"temperature\" ), 1) aantalMetingen  FROM temperature_record  WHERE \"date_time\" >= \"2018-12-01 10:00:00\"  and  \"2018-12-31 13:00:00\"  GROUP BY strftime('%Y-%m-%d', \"date_time\")  Order BY strftime('%Y-%m-%d', \"date_time\") desc  limit 0, 1","x":124.16667175292969,"y":1368.3333435058594,"wires":[["a024ac32.59cf8"]]},{"id":"da4d4f67.6ee1b","type":"sqlite","z":"20f67d46.5aecc2","mydb":"101d968b.b667e9","name":"iot.db","x":634.8333930969238,"y":922.6667442321777,"wires":[["f4a3a81c.33f318"]]},{"id":"5a80e3a4.89bc9c","type":"function","z":"20f67d46.5aecc2","name":"setWakkerTotSlaaptijdMinuten","func":"var setWakkerTotSlaaptijdMinuten = 1\n\nvar today = new Date();\n\nif(msg.topic == \"weatherStation/ONTWAAK\")\n{\n    if(msg.payload == \"getWakkerBlijvenInterval\")\n    {\n        msg.payload = parseInt(setWakkerTotSlaaptijdMinuten);\n    }\n    \n    if(parseInt(msg.payload) == 1)\n    {\n        msg.payload = setWakkerTotSlaaptijdMinuten;\n    }\n    \n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":478.00000762939453,"y":291.00000953674316,"wires":[["deaa54bc.f0c5b8"]]},{"id":"deaa54bc.f0c5b8","type":"mqtt out","z":"20f67d46.5aecc2","name":"","topic":"weatherStation/INSTELLINGEN/getWakkerBlijvenInterval","qos":"2","retain":"true","broker":"a605c726.e2b368","x":898.0000152587891,"y":245.0000286102295,"wires":[]},{"id":"7dd3b140.f0818","type":"ttn event","z":"20f67d46.5aecc2","name":"","app":"384976234897","dev_id":"m50_pro_mini_node1","event":"#","x":441.1666717529297,"y":1371.3333358764648,"wires":[["3cad2b89.80ee44"]]},{"id":"a605c726.e2b368","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"michiele-mosquitto","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"3c072315.335ebc","type":"ui_group","z":"","name":"Report","tab":"6facd1c.1baba3","order":2,"disp":true,"width":"18"},{"id":"101d968b.b667e9","type":"sqlitedb","z":"","db":"/home/pi/dbs/iot.db"},{"id":"6facd1c.1baba3","type":"ui_tab","z":"","name":"Reports","icon":"dashboard","order":9}]
