node-red-flows/weerstation.json
[{"id":"37a50745.fd4e18","type":"mqtt in","z":"16286433.5d305c","name":"","topic":"weestation/hallo","qos":"2","broker":"a6a3041b.8ef2e8","x":153,"y":112,"wires":[["ca640cfd.e19f5"]]},{"id":"ca640cfd.e19f5","type":"debug","z":"16286433.5d305c","name":"","active":true,"console":"false","complete":"payload","x":646.9999961853027,"y":131.3333225250244,"wires":[]},{"id":"c20bd67f.d33a48","type":"mqtt in","z":"16286433.5d305c","name":"Wemos reboot setup","topic":"weatherStation/reboot/setup","qos":"0","broker":"a6a3041b.8ef2e8","x":119.83331298828125,"y":441.6666498184204,"wires":[["d59967bc.17d908"]]},{"id":"d59967bc.17d908","type":"function","z":"16286433.5d305c","name":"setdeepSleepInterval 30minuten","func":"var deepSleepInterval = 30*60;\n\nif(msg.topic == \"weatherStation/reboot/setup\")\n{\n    if(parseInt(msg.payload) == 1)\n    {\n        msg.payload = parseInt(deepSleepInterval);\n    }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":504.8333282470703,"y":393.333345413208,"wires":[["6da802f5.07c98c","45d26bfc.80d2f4"]]},{"id":"6da802f5.07c98c","type":"mqtt out","z":"16286433.5d305c","name":"","topic":"weatherStation/deepSleepIntervalSekonden/waarde","qos":"2","retain":"","broker":"a6a3041b.8ef2e8","x":904.8333129882812,"y":350.999981880188,"wires":[]},{"id":"45d26bfc.80d2f4","type":"debug","z":"16286433.5d305c","name":"","active":true,"console":"false","complete":"payload","x":805.8333129882812,"y":467.0000066757202,"wires":[]},{"id":"44ce12da.2411dc","type":"inject","z":"16286433.5d305c","name":"inject deepSleepIntervalSekonden","topic":"weatherStation/ONTWAAK","payload":"30","payloadType":"str","repeat":"","crontab":"","once":false,"x":183.8333282470703,"y":248.6666488647461,"wires":[["6da802f5.07c98c"]]},{"id":"aa4f5165.c965","type":"mqtt in","z":"16286433.5d305c","name":"halloWereld","topic":"weatherStation/halloWereld","qos":"2","broker":"a6a3041b.8ef2e8","x":190.83331298828125,"y":571.6666975021362,"wires":[["95472171.d451e"]]},{"id":"95472171.d451e","type":"debug","z":"16286433.5d305c","name":"","active":true,"console":"false","complete":"payload","x":508.83331298828125,"y":584.0000104904175,"wires":[]},{"id":"a1a706b.1a253f8","type":"inject","z":"16286433.5d305c","name":"","topic":"weatherStation/bmp1/debug","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":208.8332977294922,"y":710.6666870117188,"wires":[["86c66e33.b01a9"]]},{"id":"86c66e33.b01a9","type":"mqtt out","z":"16286433.5d305c","name":"","topic":"weatherstation/bmp1/debug","qos":"2","retain":"","broker":"a6a3041b.8ef2e8","x":680.833309173584,"y":682.0000066757202,"wires":[]},{"id":"18d43f28.f7fa31","type":"inject","z":"16286433.5d305c","name":"wakker worden!","topic":"weatherStation/ONTWAAK","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":122.99998474121094,"y":316.9999942779541,"wires":[["d59967bc.17d908","dfd81be0.c62898"]]},{"id":"386ecb4d.c13be4","type":"mqtt in","z":"16286433.5d305c","name":"Wemos is wakker","topic":"weatherStation/ONTWAAKT","qos":"0","broker":"a6a3041b.8ef2e8","x":108.83331298828125,"y":507.6666793823242,"wires":[["d59967bc.17d908"]]},{"id":"69d0e17.0585b2","type":"mqtt in","z":"16286433.5d305c","name":"","topic":"weatherStation/DHT/humidity","qos":"2","broker":"a6a3041b.8ef2e8","x":184,"y":824,"wires":[["c4e470b1.4ad7f"]]},{"id":"9afeee87.37e7e","type":"debug","z":"16286433.5d305c","name":"","active":true,"console":"false","complete":"payload","x":698.9999923706055,"y":863.3333396911621,"wires":[]},{"id":"c4e470b1.4ad7f","type":"function","z":"16286433.5d305c","name":"percentSimbool","func":"if(msg.topic == \"weatherStation/DHT/humidity\") {\n    msg.payload += \"%\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":452.00000762939453,"y":825.6666631698608,"wires":[["9afeee87.37e7e","858d0ad.7c6a6f8"]]},{"id":"858d0ad.7c6a6f8","type":"ui_text","z":"16286433.5d305c","group":"3c072315.335ebc","order":0,"width":0,"height":0,"name":"Luchtvochtigheid","label":"python Luchtvochtigheid: ","format":"{{msg.payload}}","layout":"row-spread","x":710.9999923706055,"y":792.6666564941406,"wires":[]},{"id":"118633bb.6465bc","type":"mqtt in","z":"16286433.5d305c","name":"dht/temperature","topic":"weatherStation/DHT/temperature","qos":"2","broker":"a6a3041b.8ef2e8","x":122.00001525878906,"y":1021.9999990463257,"wires":[["b4d790a8.c616a","4e3882b0.7ea21c"]]},{"id":"4e3882b0.7ea21c","type":"function","z":"16286433.5d305c","name":"gradenSimbool","func":"if(msg.topic == \"weatherStation/DHT/temperature\") {\n    msg.payload += \"°C\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":382.8334426879883,"y":1060.6667032241821,"wires":[["6221e07b.dcdb6"]]},{"id":"6221e07b.dcdb6","type":"ui_text","z":"16286433.5d305c","group":"3c072315.335ebc","order":0,"width":0,"height":0,"name":"temperatuur","label":"python Temp. laatste sensor meting:","format":"{{msg.payload}}","layout":"row-spread","x":647.8333969116211,"y":1049.666666984558,"wires":[]},{"id":"abfbeb10.1943a8","type":"mqtt in","z":"16286433.5d305c","name":"weatherStation/DHT/luchtdruk","topic":"weatherStation/DHT/luchtdruk","qos":"2","broker":"a6a3041b.8ef2e8","x":185,"y":1164.666711807251,"wires":[["70429f73.c19ee"]]},{"id":"70429f73.c19ee","type":"function","z":"16286433.5d305c","name":"hpa simbool","func":"if(msg.topic == \"weatherStation/DHT/luchtdruk\") {\n    msg.payload = parseInt(msg.payload) / 100 + \"hPa\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":424.8333435058594,"y":1161.3333377838135,"wires":[["f8298a47.28fe68"]]},{"id":"f8298a47.28fe68","type":"ui_text","z":"16286433.5d305c","group":"3c072315.335ebc","order":0,"width":0,"height":0,"name":"Lugdruk","label":"python Luchtdruk: ","format":"{{msg.payload}}","layout":"row-spread","x":636.8333892822266,"y":1165.3333358764648,"wires":[]},{"id":"d8224ca0.ba18e","type":"sqlite","z":"16286433.5d305c","mydb":"f33d6222.e8b1c","name":"iot.db","x":405,"y":1308.6668853759766,"wires":[["61dc782d.ed0f38"]]},{"id":"3802e430.da62dc","type":"debug","z":"16286433.5d305c","name":"","active":true,"console":"false","complete":"false","x":864.0001792907715,"y":1301.6668853759766,"wires":[]},{"id":"8472c8c9.1fadb8","type":"inject","z":"16286433.5d305c","name":"lijst temperature_record  ","topic":"SELECT  strftime('%Y-%m-%d', \"date_time\") datum, round(avg(\"temperature\" ), 1) gem_tempC, round(min(\"temperature\" ), 1) minC, round(max(\"temperature\" ), 1) maxC, round(count(\"temperature\" ), 1) aantalMetingen  FROM temperature_record  WHERE \"date_time\" >= \"2018-12-01 10:00:00\"  and  \"2018-12-31 13:00:00\"  GROUP BY strftime('%Y-%m-%d', \"date_time\")  Order BY strftime('%Y-%m-%d', \"date_time\") desc  limit 0, 30","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":168.99999237060547,"y":1261.333547592163,"wires":[["d8224ca0.ba18e"]]},{"id":"2346313f.49417e","type":"inject","z":"16286433.5d305c","name":"laatste tempC","topic":"SELECT  strftime('%Y-%m-%d', \"date_time\") datum, round(avg(\"temperature\" ), 1) gem_tempC, round(min(\"temperature\" ), 1) minC, round(max(\"temperature\" ), 1) maxC, round(count(\"temperature\" ), 1) aantalMetingen  FROM temperature_record  WHERE \"date_time\" >= \"2018-12-01 10:00:00\"  and  \"2018-12-31 13:00:00\"  GROUP BY strftime('%Y-%m-%d', \"date_time\")  Order BY strftime('%Y-%m-%d', \"date_time\") desc  limit 0, 1","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":146.0000114440918,"y":1370.666919708252,"wires":[["d8224ca0.ba18e"]]},{"id":"c3aca6c9.6c6ca8","type":"debug","z":"16286433.5d305c","name":"temp debug","active":true,"console":"false","complete":"payload","x":828.1666946411133,"y":975.3333339691162,"wires":[]},{"id":"b4d790a8.c616a","type":"function","z":"16286433.5d305c","name":"sql insert temperature_record","func":"var overrideMain = global.get('overrideMain');\nvar overrideTable = global.get('overrideTable');\n\n\n// Update the status with current timestamp\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\nvar timeFormat= dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss;\nnode.status({fill:\"blue\",shape:\"ring\",text:\"Last update: \"+timeFormat});    \n\n//var top=msg.topic.toString();\nvar device_name=\"wemos D1\";\nvar pay=msg.payload;\nvar rec_num=Math.floor((Math.random() * 10000000) + 1) ;\n\nif(msg.topic.includes(\"temperature\"))\n{\n    msg.topic = \"INSERT INTO temperature_record (device_name,rec_num,temperature) VALUES (?,?,?)\";\n    msg.payload = [device_name,rec_num,pay];\n    return msg;\n}\n","outputs":1,"noerr":0,"x":400.83343505859375,"y":983.6666655540466,"wires":[["47ce63a8.1f5cdc"]]},{"id":"61dc782d.ed0f38","type":"ui_template","z":"16286433.5d305c","group":"3c072315.335ebc","name":"toon Tabel","order":0,"width":0,"height":0,"format":"<table style=\"width:320% height=250%\">\n  <tr>\n    <th colspan=\"5\">Meest recente meetdata</th> \n  </tr>\n  <tr>\n    <th>datum</th> \n    <th>gem_tempC</th>\n    <th>minC</th> \n    <th>maxC</th>\n    <th>aantalMetingen</th>\n  </tr>\n  <tr ng-repeat=\"row in msg.payload | limitTo:30\">\n    <td>{{msg.payload[$index].datum}}</td>\n    <td>{{msg.payload[$index].gem_tempC}}</td> \n    <td>{{msg.payload[$index].minC}}</td>\n    <td>{{msg.payload[$index].maxC}}</td>\n    <td>{{msg.payload[$index].aantalMetingen}}</td>\n  </tr>\n</table>\n","storeOutMessages":true,"fwdInMessages":true,"x":665.1666793823242,"y":1312.666883468628,"wires":[["3802e430.da62dc"]]},{"id":"28d849fc.7ebf76","type":"ui_button","z":"16286433.5d305c","name":"","group":"3c072315.335ebc","order":0,"width":0,"height":0,"label":"Laatse 30 metingen","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"SELECT  strftime('%Y-%m-%d', \"date_time\") datum, round(avg(\"temperature\" ), 1) gem_tempC, round(min(\"temperature\" ), 1) minC, round(max(\"temperature\" ), 1) maxC, round(count(\"temperature\" ), 1) aantalMetingen  FROM temperature_record  WHERE \"date_time\" >= \"2018-12-01 10:00:00\"  and  \"2018-12-31 13:00:00\"  GROUP BY strftime('%Y-%m-%d', \"date_time\")  Order BY strftime('%Y-%m-%d', \"date_time\") desc  limit 0, 30","x":145.16668701171875,"y":1300.3333377838135,"wires":[["d8224ca0.ba18e"]]},{"id":"bca5f5eb.871b68","type":"ui_button","z":"16286433.5d305c","name":"","group":"3c072315.335ebc","order":0,"width":0,"height":0,"label":"Laatste temp","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"SELECT  strftime('%Y-%m-%d', \"date_time\") datum, round(avg(\"temperature\" ), 1) gem_tempC, round(min(\"temperature\" ), 1) minC, round(max(\"temperature\" ), 1) maxC, round(count(\"temperature\" ), 1) aantalMetingen  FROM temperature_record  WHERE \"date_time\" >= \"2018-12-01 10:00:00\"  and  \"2018-12-31 13:00:00\"  GROUP BY strftime('%Y-%m-%d', \"date_time\")  Order BY strftime('%Y-%m-%d', \"date_time\") desc  limit 0, 1","x":135.1666717529297,"y":1418.3333435058594,"wires":[["d8224ca0.ba18e"]]},{"id":"47ce63a8.1f5cdc","type":"sqlite","z":"16286433.5d305c","mydb":"f33d6222.e8b1c","name":"iot.db","x":645.8333930969238,"y":972.6667442321777,"wires":[["c3aca6c9.6c6ca8"]]},{"id":"dfd81be0.c62898","type":"function","z":"16286433.5d305c","name":"setWakkerTotSlaaptijdMinuten","func":"var setWakkerTotSlaaptijdMinuten = 1\n\nvar today = new Date();\n\nif(msg.topic == \"weatherStation/ONTWAAK\")\n{\n    if(msg.payload == \"getWakkerBlijvenInterval\")\n    {\n        msg.payload = parseInt(setWakkerTotSlaaptijdMinuten);\n    }\n    \n    if(parseInt(msg.payload) == 1)\n    {\n        msg.payload = setWakkerTotSlaaptijdMinuten;\n    }\n    \n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":489.00000762939453,"y":341.00000953674316,"wires":[["ea547350.a08b7"]]},{"id":"ea547350.a08b7","type":"mqtt out","z":"16286433.5d305c","name":"","topic":"weatherStation/INSTELLINGEN/getWakkerBlijvenInterval","qos":"2","retain":"true","broker":"a6a3041b.8ef2e8","x":909.0000152587891,"y":295.0000286102295,"wires":[]},{"id":"bfaecfa9.4d395","type":"mqtt in","z":"16286433.5d305c","name":"","topic":"weestation/hallo","qos":"2","broker":"a6a3041b.8ef2e8","x":149,"y":176.0000023841858,"wires":[[]]},{"id":"a6a3041b.8ef2e8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"admin@localhost","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"3c072315.335ebc","type":"ui_group","z":"","name":"Report","tab":"6facd1c.1baba3","order":2,"disp":true,"width":"18"},{"id":"f33d6222.e8b1c","type":"sqlitedb","z":"","db":"/home/pi/dbs/iot.db"},{"id":"6facd1c.1baba3","type":"ui_tab","z":"","name":"Reports","icon":"dashboard","order":9}]
